.responsive{
    background-color: aqua;
    height: 300px;
}
@media screen and (max-width:480px) {
.responsive{
    background-color: blueviolet;}
    
}
@media screen and (min-width: 768px) {
.responsive{
    background-color: orange;}
}
.animacion {
background-color: aqua;
border: 1px solid red;
animation-name: mi-animacion;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 2s;
animation-delay: 3s;
}