.body{
    background:linear-gradient(#D4E157, #CFD8DC);
}
.listas ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    list-style-type: square;
}
.footer{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    font-size: 25px;
}
